/*4 - external */
body {
  padding-bottom: 500px;
}
h3 {
  color: green;
}
/* P {
  color: rgb(123, 9, 230);
} */
/*Ola pessoal*/

/*Classes*/
.paragraph {
  background-color: black;
  color: aqua;
  padding: 30px;
}

.Aline {
  background-color: black;
  color: brown;
}

/*Id*/
#exclusive-tittle {
  background-color: cadetblue;
  color: aqua;
  padding: 10px;
  font-size: 50px;
}

/* Ordem das Regras*/
h2 {
  border-bottom: 2px solid blue;
}

.titulo {
  border-bottom: 4px solid rgb(17, 19, 17);
}

#Algum-titulo {
  border-bottom: 6px solid green;
}

/* Nome de Cores*/
.color-name {
  color: rgb(75, 6, 20);
}
/* hEX*/
.hex {
  color: #95a355;
}

.hex-2 {
  color: #e5e9e4;

  /*Aprofundando no HEx*/
}
.simple-hex {
  color: rgb(10, 185, 48);
}

.simple-hex-2 {
  color: rgba(rgb(173, 16, 16), rgb(16, 241, 16), blue, alpha);
}

/*RGB*/

.rgb {
  color: rgb(84, 83, 155);
}

.mixed-rgb {
  color: rgb(0, 250, 0);
}

/* RGBA */
.Rgba {
  color: rgb(255, 121, 4);
}

.Rgba-2 {
  color: rgba rgb(0, 255, 242);
}

/*HSL*/

.HSL {
  color: hsl(100, 30%, 50%);
}

.HSL-2 {
  color: hsl(295, 5%, 49%);
}

/* Backgroud color*/
.bg {
  background-color: aqua;
  color: blue;
}

.bg-2 {
  background-color: rgb(196, 0, 0);
  color: crimson;
}

.bg-3 {
  background-color: rgb(12, 223, 107);
  color: teal;
}

/*backgroud opacity*/

.bg-opacity {
  background-color: green;
  color: rgb(241, 9, 9);
  /* opacity: 0.1; */
}
.bg-opacity-2 {
  background-color: rgb(13, 219, 123);
  color: rgba(23, 9, 145, 0.349);
  opacity: 0.5;
}

/* Rgba com opacidade */
.rgba-opacity {
  background-color: rgba(23, 9, 145, 0.349);
  color: black;
}

/* bg img */

.bg-img {
  background-image: url(../img/city.jpg);
  padding: 10px;
  color: #95a355;
}
.bg-img-2 {
  background-image: url(../img/luffy.jpg);
  padding: 20px;
  color: #f80000;
}
/* center img bg */

.not-center-img-bg,
.center-img-bg {
  height: 400px;
  width: 400px;
  background-image: url("../img/luffy.jpg");
}

.center-img-bg {
  background-position: center;
  background-size: cover;
}

/*largura e altura */

.height-width {
  height: 200px;
  width: 100px;
  background-color: red;
}
.height-width-2 {
  height: 200px;
  width: 100px;
  background-color: rgb(0, 0, 0);
}

/* Padding e nao padding */

.without-padding {
  background-color: black;
  color: white;
}
.padding {
  padding: 20px;
}

/* padding indivdual */

.padding-individual {
  background-color: black;
  color: #fff;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
}
/* shorthand paddind */
.shorthandas-paddind {
  background-color: aqua;
  padding: 40px 30px 40px 30px;
}
.shorthandas-paddind-2 {
  background-color: rgb(0, 2, 2);
  padding: 10px 20px;
}
/* padding e width */
.without-border-box {
  background-color: aqua;
  color: #f80000;
  width: 400px;
  padding: 40px;
}
.border-box {
  background-color: rgb(16, 32, 255);
  color: black;
  width: 400px;
  padding: 50px;
  box-sizing: border-box;
}
/* border */

.border {
  border: 5px solid red;
  padding: 10px;
}

.border-2 {
  border: 5px inset green;
  padding: 10px;
}

/* bordas individuais */

.border-left {
  border-left: 3px groove greenyellow;
  background-color: blue;
  padding: 25px;
}
.border-botton {
  border-bottom: 4px double black;
  background-color: rgb(0, 255, 76);
  padding: 25px;
}
.border-top {
  border-top: 5px inset rgb(175, 0, 0);
  padding: 15px;
  background-color: rgb(4, 8, 235);
  padding: 25px;
}
.border-right {
  border-right: 2px dashed rgb(0, 38, 255);
  padding: 15px;
  background-color: rgba(250, 49, 49, 0.274);
  padding: 25px;
}
/* 29 bordas arrendodadas */

.border-radius {
  border: 5px solid red;
  background-color: rgb(3, 5, 4);
  color: aqua;
  padding: 10px;
  border-radius: 15px;
}
.border-radius-2 {
  background-color: rgb(0, 1, 10);
  color: rgb(255, 1, 1);
  padding: 10px;
  border-radius: 15px;
}

/* margem */

.margin {
  margin: 10px;
  background-color: #f80000;
}
.margin-top {
  margin-top: 50px;
  background-color: #444;
  padding: 10px;
}
.margin-shorthand {
  margin: 10px 15px 10px 15px;
  background-color: #f80000;
}

/* elementos de box model juntos */
.box-model {
  margin: 20px;
  padding: 15px 25px;
  border: 3px solid #444;
  border-radius: 7px;
  width: 200px;
  height: 70px;
}
/* alinhamento de texto */
.text-aligned {
  text-align: center;
}

.text-aligned-2 {
  text-align: right;
}
.container-center {
  text-align: center;
  width: 300px;
  border: 1px dashed #f80000;
  border-radius: 15px;
}

/* text-decoracion */

.underline {
  text-decoration: underline blueviolet;
}

.line-trough {
  text-decoration: line-through;
}
.remove-underline {
  text-decoration: none;
  color: red;
}
/* transform text */

.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: lowercase;
}
/* espaçamento do texto */
.letter-spacing {
  letter-spacing: 5px;
}

/* fontes */

.serif {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sans-serif {
  font-family: Helvetica;
}
.monospace {
  font-style: "courier new";
}
.cursive {
  font-family: cursive;
}
.fantasy {
  font-family: fantasy;
}
/* estizando as fontes */

.normal {
  font-style: normal;
}
.italic {
  font-style: italic;
}
.oblique {
  font-style: oblique;
}
/* largura da fonte */

.lighter {
  font-weight: lighter;
}
.bolder {
  font-weight: bolder;
}
.usa-numerais {
  font-weight: thin;
}
.usa-numerais-2 {
  font-weight: bold;
}
.usa-numerais-3 {
  font-weight: 900;
}
/* font-size */

.font-size {
  font-size: small;
}

.font-size-2 {
  font-size: medium;
}
/* display */
.inline-box {
  width: 50px;
  height: 50px;
  background-color: #f80000;
  margin: 10px;
  display: inline-block;
}
.block {
  background-color: #95a355;
  display: block;
  margin: 15px;
}
/* escondendo elementos */
.invisible {
  display: none;
}

/* posiçoes dos elementos */
/* static */
.static {
  position: static;
  background-color: aqua;
  color: #fff;
  height: 50px;
  width: 50px;
}
.relative {
  position: relative;
  background-color: #f80000;
  color: #000;
  height: 50px;
  width: 50px;
  margin: 3px dashed #444;
  border: 3px double #95a355;
  padding: 15px;
  top: 100px;
  right: 40px;
}

/* posicion absolute */

.absolute {
  position: absolute;
  background-color: #0f0505;
  color: #ffffff;
  height: 100px;
  width: 100px;
  top: 2px;
  right: 2px;
}
/* absolute com relative */

.relative-container {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  margin-top: 120px;
  position: relative;
}
.absolute-1,
.absolute-2 {
  width: 50px;
  height: 50px;
  background-color: #422;
  position: absolute;
}
.absolute-1 {
  top: 10px;
  left: 10px;
}
.absolute-2 {
  bottom: 10px;
  right: 10px;
}

/* fixed position */
.fixed {
  width: 100px;
  height: 100px;
  color: white;
  background-color: black;
  border: 1px dashed blue;
  position: fixed;
  top: 1px;
  right: 1px;
}

/* sticky */
.sticky {
  width: 100px;
  height: 100px;
  background-color: #994;
  border: 1px solid green;
  position: sticky;
  top: 10px;
}

/* z-index */
.absolute-3,
.absolute-4,
.absolute-5 {
  width: 50px;
  height: 50px;
  background-color: #5655a3;
  position: absolute;
}

.absolute-3 {
  top: 0px;
  left: 0px;
  z-index: 3;
}

.absolute-4 {
  top: 10px;
  left: 10px;
  background-color: #f80000;
  z-index: 2;
}

.absolute-5 {
  top: 40px;
  left: 40px;
  background-color: blue;
  z-index: 1;
}
